:root {
  --fs-h1: 1.8em;

  --form-padding: 0.6em 1.2em;
  --form-margin: 0.2em 0em;
  --form-border: 2px solid var(--primary-color);
  --form-border-radius: 1em;
}

.bookings-waves {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.bookings-waves svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.bookings-waves .shape-fill {
  fill: var(--primary-color);
}

#bookings {
  height: 100vh;
  background-color: var(--secondary-color);
}

#bookings #bookings-container {
  height: 80vh;

  display: flex;
  flex-direction: var(--comp-direction);

  justify-content: center;
  align-items: center;
  align-content: center;
}

#bookings #bookings-container h1 {
  font-size: calc(var(--fs-h1) + 1vw);
  color: var(--primary-color);
}

#bookings #bookings-container img {
  width: calc(var(--img-width) + 10vw);

  border: 5px solid black;
  border-radius: 10px;
}

#bookings #bookings-container #bookings-form {
  margin-left: 5vw;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#bookings #bookings-container #bookings-form > * {
  margin: 2vh 0;
}

#bookings #bookings-container #bookings-form label {
  color: var(--primary-color);
  font-size: calc(0.2em + 1vw);
}

#bookings #bookings-container #bookings-form input,
select {
  width: 100%;

  padding: var(--form-padding);
  margin: var(--form-margin);

  border: var(--form-border);
  border-radius: var(--form-border-radius);
}

#bookings #bookings-container #bookings-form button {
  padding: var(--form-padding);
  margin: var(--form-margin);

  color: var(--primary-color);
  background: #00000000;

  border: var(--form-border);
  border-radius: var(--form-border-radius);
}

#bookings #bookings-container #bookings-form button:focus {
  animation: btnAnim 0.2s forwards;
  /* transform: scale(0.8); */
}

@keyframes btnAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
